$icon-font-path: "fonts/";

// Core variables and mixins
@import "variables";
@import "bootstrap/variables";

@import "font-awesome/font-awesome";

@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";

// Components
@import "bootstrap/button-groups";
@import "bootstrap/labels";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


$min-window-width:      350px;
$max-window-width:      525px;
$min-window-height:     380px;

$base-header-height:    95px;
$large-header-height:   122px;

$player-height:         43px;
$nav-height:            65px;


//App Styles
@import "app/common/common";
@import "app/common/header";
@import "app/common/body";
@import "app/common/footer";

@import "app/all-stations/header";
@import "app/all-stations/body";

@import "app/fav-stations/header";
@import "app/fav-stations/body";

@import "app/fav-songs/header";
@import "app/fav-songs/body";

@import "app/community/header";
@import "app/community/body";

@import "app/now-playing/header";
@import "app/now-playing/body";






