$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



.btn-link {
  color: $gray-light;
  &:hover,
  &:focus {
    color: $white;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
    }
  }
}

.btn-fav {
  color: $brand-yellow;
  &:hover,
  &:focus {
    color: $brand-yellow;
  }
}


body, html {
  color: #ffffff;
  height: 100%;

  .player-container {
    width: 600px;
    height: 100%;
    overflow: hidden;

    background: $gray-darker;

    .viewstack {
      width: 100%;
      padding: 0;

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      .list-titlebar {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 2px;

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: url("/images/list-titlebar-tile.png") center top repeat;

        .btn-group {
          margin-top: 5px;
          padding: 0;
          border: 1px solid $gray-dark;
        }

        .btn {
          background: url("/images/titlebar-buttonbar-tile") center top repeat;
          border: none;
        }

        btn.active {
          @include box-shadow(inset 0 3px 5px red);
        }
      }

      .list {
        overflow: auto;
      }

      .card {
        height: 75px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 2px;
        background: $gray-dark;
        overflow: hidden;

        .card-image {
          float: left;
          margin: 5px 5px 5px 0;
          width: 65px;
          height: 65px;
        }

        .card-content {
          float: left;
          margin-left: 5px;
          width: 400px;

          h4 {
            margin: 0;
            line-height: 1.25em;
          }

          p {
            font-size: 12px;
            line-height: 1.1em;
            color: $gray-light;
          }

          p.small {
            color: $gray-lighter;
          }

        }

        .card-actions {
          float: right;
          .btn {
            display: block;
            float: left;
            clear: both;
            border: none;
          }
          .btn-lg {
            padding: 6px;
          }

        }

      }
      .station-card:first-child {
        margin-top: 0;
      }

      .no-station-msg {
        margin-top: 25%;
      }

      #now-playing {

        .header {
          height: 135px;
          padding-top: 10px;

          img {
            display: block;
            float: left;
            width: 120px;
            height: 120px;
          }

          .content {
            float: left;
            width: 430px;
            margin-left: 10px;

            h3 {
              margin-top: 0;
              margin-bottom: 0;
            }

            p {
              line-height: 1.25em;
              margin-bottom: 0;
            }

            .btn {
              font-size: 20px;

              padding: 6px 0 4px;
            }


          }

        }

        .list-col-1, .list-head-1 {
          float: left;
          min-width: 55px;
          width: 10%;
        }

        .list-col-2, .list-head-2 {
          float: left;
          min-width: 220px;
          width: 40%;
        }

        .list-col-3, .list-head-3 {
          float: left;
          min-width: 220px;
          width: 40%;
        }

        .list-col-4, .list-head-4 {
          float: left;
          widows: 10%;
        }

        .card {
          height: auto;
          padding-top: 5px;
          padding-bottom: 5px;
          color: $gray-light;

          .card-actions{
            float:right;
          }
        }

      }
    }


    #footer {
      width: 570px;
      bottom: 0;
      padding: 2px 0;
      padding-bottom: 10px;
      background: $gray-darker;
      position: absolute;
      z-index: 50;

      .player-container {
        width: 100%;
        margin-bottom: 2px;

        .player {
          width: 100%;
          border-radius: 6px;
          background: $gray-dark;


          .btn {
            font-size: 24px;
//            line-height: 0;
//            padding: 0;
//            margin: 0;
          }



          .slider {
            display: inline-block;
            width: 250px;
            margin: 0 10px;
//            background: red;



            .slider-track {

              width: 100%;
              height: 10px;
              border: 1px solid $gray-darker;
              background: $gray-dark;
              cursor: pointer;



              .slider-value {

                width: 50%;
                height: 8px;
                background: $gray-light;

              }

            }



          }

        }

      }

      .mainnav {
        a {
          cursor: pointer;
        }
        a.selected {
          cursor: auto;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }


  }

}



