.body {

  height: calc(100% - #{$base-header-height} - #{$nav-height} - 16px);


  &.has-player {
    height: calc(100% - #{$base-header-height} - #{$nav-height} - #{$player-height} - 16px);
  }

  &.has-large-header {
    height: calc(100% - #{$large-header-height} - #{$nav-height} - 16px);
  }

  &.has-large-header.has-player {
    height: calc(100% - #{$large-header-height} - #{$nav-height} - #{$player-height} - 16px);
  }

}
