<div class="facebook">
  <div id="fb-root"></div>
  <div class="fb-page"
       data-href="https://www.facebook.com/somafm"
       data-tabs="timeline"
       data-width="100%"
       data-height="100%"
       data-small-header="false"
       data-adapt-container-width="true"
       data-hide-cover="false"
       data-show-facepile="false">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/somafm">
        <a href="https://www.facebook.com/somafm">SomaFM</a>
      </blockquote>
    </div>
  </div>
</div>
