<div class="player">
  <audio id='audioPlayer' autoplay='true' preload='none'></audio>

  <div class="background">
    <div class="image-container">
      <img class="station-img" src="{{$root.playingStation.image}}"/>
    </div>
  </div>

  <div class="controls-container">
    <div class="controls">

      <!--Play Button-->
      <button ng-if='!$root.playingStation.playing' class='btn btn-link' ng-disabled='!$root.playingStation' ng-click='play($root.playingStation)'>
        <i class="fa fa-fw fa-lg fa-play"></i>
      </button>

      <!--Stop Button-->
      <button ng-if='$root.playingStation.playing' class='btn btn-link' ng-disabled='!$root.playingStation' ng-click='stop()'>
        <i class="fa fa-fw fa-lg fa-stop"></i>
      </button>

      <!--Volume Down-->
      <button ng-if='!isMuted()' class='btn btn-link' ng-disabled='!$root.playingStation' ng-click='toggleMute()'>
        <i class="fa fa-fw fa-lg fa-volume-down"></i>
      </button>

      <!--Volume Off-->
      <button ng-if='isMuted()' class='btn btn-link' ng-disabled='!$root.playingStation' ng-click='toggleMute()'>
        <i class="fa fa-fw fa-lg fa-volume-off"></i>
      </button>

      <!--Volume Bar-->
      <sf-volumebar value='volume' min='0' max='1' ng-disabled='!$root.playingStation' value-change='updateVolume(val)'></sf-volumebar>

      <!--Volume Up-->
      <button class='btn btn-link' ng-disabled='!$root.playingStation' ng-click='maxVolume()'>
        <i class="fa fa-fw fa-lg fa-volume-up"></i>
      </button>

    </div>
  </div>
</div>
