body {
    font-family: Helvetica,Arial;
    font-size: 10pt;
    background-color:#333;
}

li {
    list-style:none;
}

p {
    text-align:left;
    color:#666;
    margin:5px 2px;
}

h2 {
    color:#045FB4;
    text-align:center;
    font-size:1.2em;
    margin:2px;
}

h3 {
    color:#006;
    text-align:center;
    font-size:1.1em;
    margin:1px;
}

img {
    width:325px;
    height:auto;
}

a{
    display:block;
    text-align:right;
}

.resultwrapper {
    background-color:#fff;
    width:350px;
    padding:10px;
    border-radius:8px;
    text-align:center;
    margin:10px;
}
