



* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  }

body {

	font-family: "Monaco", "Lucida Console", "Monotype.com",  "Andale Mono", "Courier", "Trebuchet MS", "Sans-Serif";
	font-size: 8pt;
	color: #eeeeee;
	margin: 0 20px 5px 20px;
	}

p {
  font-size: 100%;
  margin: 1.5em 0;
  }

blockquote {
  margin: 1em 0;
  font-style: oblique;
  color: #1a9096;
  }



/* headline style */
h1 {
	font-family: "Trebuchet MS", "verdana", "Sans-Serif";
	font-weight: 500;
	font-size: 150%;
	color: #f9a11b;
	margin: 1em 0;
  }

h2 {
	font-family: "Trebuchet MS", "verdana", "Sans-Serif";
	font-weight: 500;
	font-size: 125%;
	color: #f9a11b;
	margin: 1em 0;
  }

h3 {
	font-family: "Trebuchet MS", "verdana", "Sans-Serif";
	color: #1a9096;
	font-weight: 400;
	font-size: 100%;
	margin: 1em 0;
  }

h4 {
	font-family: "Trebuchet MS", "verdana", "Sans-Serif";
	font-size: 90%;
	color: #f9a11b;
	margin: 1em 0;
  }

h5 {
	font-family: "Trebuchet MS", "verdana", "Sans-Serif";
	font-size: 70%;
	color: #f9a11b;
	margin: 1em 0;
  }

h6 {
  font-size: 60%;
  color: #f9a11b;
  margin: 1em 0;
  }
  
/* link style */
a { color: #f9a11b; text-decoration: none; }
a:active { color: #eeeeee; }
a:hover, a:visited:hover { color: #E7BDAD; }
a:visited { color: #D8A24D; }

div#container {
	/* width: 470px; */
	overflow: hidden;
}
