<div class="html-player">
  <audio id='audioPlayer' autoplay='true' preload='none'></audio>

  <button ng-if='!playing' class='btn btn-link'
          ng-disabled='!station' ng-click='togglePlay()'>
    <i class="fa fa-fw fa-lg fa-play"></i>
  </button>

  <button ng-if='playing' class='btn btn-link'
          ng-disabled='!station' ng-click='togglePlay()'>
    <!--<span class='glyphicon glyphicon-stop'></span>-->
    <i class="fa fa-fw fa-lg fa-stop"></i>
  </button>

  <button ng-if='!isMuted()' class='btn btn-link'
          ng-disabled='!station' ng-click='toggleMute()'>
    <i class="fa fa-fw fa-lg fa-volume-down"></i>
    <!--<span class='glyphicon glyphicon-volume-down'></span>-->
  </button>

  <button ng-if='isMuted()' class='btn btn-link'
          ng-disabled='!station' ng-click='toggleMute()'>
    <i class="fa fa-fw fa-lg fa-volume-off"></i>
    <!--<span class='glyphicon glyphicon-volume-off'></span>-->
  </button>

  <sf-volumebar value='volume' min='0' max='1' ng-disabled='!station' value-change='updateVolume(val)'></sf-volumebar>

  <button class='btn btn-link'
          ng-disabled='!station' ng-click='maxVolume()'>
    <i class="fa fa-fw fa-lg fa-volume-up"></i>
    <!--<span class='glyphicon glyphicon-volume-up'></span>-->
  </button>
</div>
