<div class="tall-header row">
    <img class="img-responsive" src="images/community-header.jpg" />
</div>

<div class="list-titlebar row">
    <div class="col-xs-12 text-center">
        <div class="btn-group btn-group-sm">
            <button ng-repeat="view in views" class="btn btn-primary {{selectedView === view ? 'active' : ''}}" ng-click="show(view)">{{view}}</button>
        </div>
    </div>
</div>

<list>
    <div ng-if="selectedView == 'news'">
        <p>news</p>
    </div>

    <div ng-if="selectedView == 'twitter'">
        <p>twitter</p>
        <a href="https://dev.twitter.com/">https://dev.twitter.com/</a>
    </div>

    <div ng-if="selectedView == 'flickr'">
        <p>flickr</p>
        <a href="https://www.flickr.com/services/api/">https://www.flickr.com/services/api/</a>
    </div>

    <div ng-if="selectedView == 'facebook'">
        <p>facebook</p>
        <a href="https://developers.facebook.com/">https://developers.facebook.com/</a>
    </div>

</list>
