<div class="tall-header row">
    <img class="img-responsive" src="images/community-header.jpg" />
</div>

<div class="list-titlebar row">
    <div class="col-xs-12 text-center">
        <div class="btn-group btn-group-sm">
            <button ng-repeat="view in views" class="btn btn-primary {{selectedView === view ? 'active' : ''}}" ng-click="show(view)">{{view}}</button>
        </div>
    </div>
</div>

<list>
    <news ng-if="selectedView == 'news'"></news>
    <twitter ng-if="selectedView == 'twitter'"></twitter>
    <flickr ng-if="selectedView == 'flickr'"></flickr>
    <facebook ng-if="selectedView == 'facebook'"></facebook>
</list>
