<div class="tall-header">
    <img src="/images/list-header.jpg" />
</div>
<div class="list-titlebar">
    <div class="pull-left">
        <h4>Favorite Stations</h4>
    </div>
    <div class="btn-group btn-group-sm pull-right">
        <button class="btn btn-primary {{organizeMethod === 'name' ? 'active' : ''}}" ng-click="organizeByName()">Name</button>
        <button class="btn btn-primary {{organizeMethod === 'popularity' ? 'active' : ''}}" ng-click="organizeByPopularity()">Popularity</button>
        <button class="btn btn-primary {{organizeMethod === 'genre' ? 'active' : ''}}" ng-click="organizeByGenre()">Genre</button>
    </div>
</div>

<list>
    <div class="row station-card" ng-repeat="station in organizedStations">
        <img class="card-image" src="{{station.image}}" />
        <div class="card-content">
            <h4>{{station.title}}</h4>
            <p>{{station.description}}</p>
            <p class="small">{{station.listeners}} listeners</p>
        </div>
        <div class="card-actions">
            <button class="btn btn-link btn-lg" ng-click="$root.playStation(station)" ng-show="$root.selectedStation !== station">
                <span class="glyphicon glyphicon-play-circle"></span>
            </button>
            <button class="btn btn-link btn-lg" ng-click="$root.stopStation(station)" ng-show="$root.selectedStation == station">
                <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button class="btn btn-link btn-lg btn-fav" ng-click="removeStation(station)">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        </div>

    </div>
</list>