<div id="now-playing" ng-show="$root.selectedStation">
    <div id="header" class="header">
        <img src="{{$root.selectedStation.image}}" />
        <div class="content">
            <h3>{{$root.selectedStation.title}}</h3>
            <p>{{$root.selectedStation.description}}</p>
            <button class="btn btn-link btn-large btn-fav" ng-click="removeStation($root.selectedStation)">
                <span class="glyphicon {{$root.selectedStation.favorite ? 'glyphicon-star' : 'glyphicon-star-empty'}}"></span>
            </button>
            <p>Music Director:
                <a href="mailto:{{$root.selectedStation.djmail}}" target="_blank">{{$root.selectedStation.dj}}</a>
            </p>
        </div>
    </div>

    <div class="list-titlebar">
        <div class="list-head-1">
            <h5>Time</h5>
        </div>
        <div class="list-head-2">
            <h5>Artist</h5>
        </div>
        <div class="list-head-3">
            <h5>Song</h5>
        </div>
    </div>

    <list ng-init="getPlayList($root.selectedStation)">
        <div class="row card" ng-repeat="song in playList">
            <div class="list-col-1">
                <span>{{ song.date | date : "hh:mm" }}</span>
            </div>
            <div class="list-col-2">
                <span>{{song.artist}}</span>
            </div>
            <div class="list-col-3">
                <span>{{song.title}}</span>
            </div>
            <div class="list-col-4">
                <div class="card-actions">
                    <!--
                    <button class="btn btn-link btn-large" ng-class="{'btn-fav': song.favorite}" ng-click="toggleFavSong(song)">
                        <span class="glyphicon {{song.favorite ? 'glyphicon-star' : 'glyphicon-star-empty'}}"></span>
                    </button>
                    -->
                    <button class="btn btn-link btn-large">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>

                </div>
            </div>
        </div>
    </list>

</div>
<div ng-show="!$root.selectedStation">
    <div class="tall-header">
        <img src="/images/list-header.jpg" />
    </div>
    <h4 class="text-center no-station-msg">No station to play</h4>
</div>

